파일 읽기

파일 열기
with open('score.csv','r') as f:

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('score.csv')
df

  지원번호   이름   학교    키   국어   영어   수학  사회        SW특기
0   1번  강나래  구로고  197   90   85  100  85      Python
1   2번  강태원  구로고  184   40   35   50  25        Java
2   3번  강호림  가산고  168   80   75   70  75  Javascript
3   4번  김수찬  구로고  187   40   60   70  80
4   5번  김재욱  가산고  188   15   20   10  10
5   6번  박동현  가산고  202   80  100   95  80           C
6   7번  박혜정  구로고  188   55   65   45  35      PYTHON
7   8번  승근열  구로고  190  100   85   90  95          C#

csv파일 가져오기

In [5]:
import pandas as pd

# csv 파일 열기
# df = pd.read_csv('score.csv')

# 1줄을 제외하고 가져옴.
# df = pd.read_csv('score.csv',skiprows=1)

# [1,3,5]번째 줄을 제외 가져옴.
# df = pd.read_csv('score.csv',skiprows=[0,1,2])

# 지정된 개수 만큼 출력
# index는 존재하고 아래에 있는 데이터 4개줄을 가져옴.
# df = pd.read_csv('score.csv',nrows=4)

# 처음2줄을 제외, 4개 데이터를 가져오기
df = pd.read_csv('score.csv',skiprows=2,nrows=4)

txt파일 가져오기

In [6]:
# txt파일 열기
# index 따로 지정이 되어 가져옴.
# df = pd.read_csv('score.txt')

# \t 구분자를 사용해서 가져오기
# df = pd.read_csv('score.txt',sep='\t')

# index지정해서 가져오기
# df = pd.read_csv('score.txt',index_col='지원번호')

# 불러와서 index를 지정하기
df = pd.read_csv('score.txt')
df.set_index('지원번호',inplace=True)

excel파일 불러오기

In [7]:
# excel파일 불러오기
df = pd.read_excel('score.xlsx',skiprows=1,nrows=3)

# index지정해서 불러오기
# df = pd.read_excel('score.xlsx',index_col='지원번호')


# 불러와서 index지정하기
# df = pd.read_excel('score.xlsx')
# df.set_index('지원번호',inplace=True)
df

   1번  강나래  구로고  197  90  85  100  85.1      Python
0  2번  강태원  구로고  184  40  35   50    25        Java
1  3번  강호림  가산고  168  80  75   70    75  Javascript
2  4번  김수찬  구로고  187  40  60   70    80